[tool.poetry]
name = "busylight-for-humans"
version = "0.2.1"
description = "Control USB connected LED lights, like a human."
authors = ["JnyJny <erik.oshaughnessy@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/JnyJny/busylight.git"
packages = [ {include = "busylight"} ]

[tool.poetry.dependencies]
python = "^3.7"
typer = "^0"
hidapi = "^0.9.0"
bitvector-for-humans = "^0.12.0"
webcolors = "^1.11.1"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
typer-cli = "^0.0.9"
black = "^19.10b0"

[tool.poetry.scripts]
busylight="busylight.__main__:cli"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
