[tool.poetry]
name = "busylight-for-humans"
version = "0.25.4"
description = "Control USB connected LED lights, like a human."
authors = ["JnyJny <erik.oshaughnessy@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/JnyJny/busylight.git"
packages = [ {include = "busylight"} ]

[tool.poetry.dependencies]
python = "^3.7"
bitvector-for-humans = "^0.14.0"
webcolors = "^1.11.1"
pyserial = "^3.5"
importlib-metadata = {version = ">=4.11.3,<7.0.0", python = "<3.8"}
hidapi = "^0.13.1"
loguru = "^0.6.0"
typer = "^0.7.0"

[tool.poetry.extras]
webapi = ["fastapi", "uvicorn"]

[tool.poetry.dev-dependencies]
anyio = {extras = ["trio"], version = "^3.6.2"}

[tool.poetry.scripts]
busylight="busylight.__main__:cli"
busyserve="busylight.__main__:webcli"

[tool.poetry.group.dev.dependencies]
pytest = "^7"
black = "^22.12"
pytest-cov = "^3.0.0"
mypy = "^0.991"
requests = "^2.28.1"
httpx = "^0.23.2"
pytest-mock = "^3.9.0"

[tool.poetry.group.webapi.dependencies]
fastapi = "^0.89.1"
uvicorn = "^0.20.0"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[mypy]
[mypy-webcolors]
ignore_missing_imports = true
[mypy-hid]
ignore_missing_imports = true
[mypy-fastapi]
ignore_missing_imports = true
[mypy-pydantic]
ignore_missing_imports = true
[mypy-uvicorn]
ignore_missing_imports = true
[mypy-loguru]
ignore_missing_imports = true
[mypy-bitvector]
ignore_missing_imports = true
[mypy-fastapi.responses]
ignore_missing_imports = true

