[tool.poetry]
name = "busylight-for-humans"
version = "0.7.6"
description = "Control USB connected LED lights, like a human."
authors = ["JnyJny <erik.oshaughnessy@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/JnyJny/busylight.git"
packages = [ {include = "busylight"} ]

[tool.poetry.dependencies]
python = "^3.7"
typer = "^0"
hidapi = ">=0.9,<0.11"
bitvector-for-humans = "^0.14.0"
webcolors = "^1.11.1"

uvicorn = {version = "^0.12.2", optional = true }
fastapi = {version = "^0.61.1", optional = true }
[tool.poetry.extras]
webapi = ["fastapi", "uvicorn"]

[tool.poetry.dev-dependencies]
pytest = "^6"
typer-cli = "^0.0.9"
black = "^20.8b1"

[tool.poetry.scripts]
busylight="busylight.__main__:cli"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

