[tool.poetry]
name = "busylight-for-humans"
version = "0.12.0"
description = "Control USB connected LED lights, like a human."
authors = ["JnyJny <erik.oshaughnessy@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/JnyJny/busylight.git"
packages = [ {include = "busylight"} ]

[tool.poetry.dependencies]
python = "^3.7"
typer = "^0"
hidapi = ">=0.9,<0.11"
bitvector-for-humans = "^0.14.0"
webcolors = "^1.11.1"

uvicorn = {version = ">=0.12.2,<0.14.0", optional = true }
fastapi = {version = ">=0.61.1,<0.66.0", optional = true }
loguru = "^0.5.3"
[tool.poetry.extras]
webapi = ["fastapi", "uvicorn"]

[tool.poetry.dev-dependencies]
pytest = "^6"
typer-cli = "^0.0.9"
black = "^21.5b1"
pytest-cov = "^2.12.0"
mypy = "^0.812"

[tool.poetry.scripts]
busylight="busylight.main:cli"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[mypy]
[mypy-webcolors]
ignore_missing_imports = true
[mypy-hid]
ignore_missing_imports = true
[mypy-fastapi]
ignore_missing_imports = true

