[tool.poetry]
name = "busylight-for-humans"
version = "0.22.3"
description = "Control USB connected LED lights, like a human."
authors = ["JnyJny <erik.oshaughnessy@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/JnyJny/busylight.git"
packages = [ {include = "busylight"} ]

[tool.poetry.dependencies]
python = "^3.7"
typer = ">=0.4.1,<0.7.0"
bitvector-for-humans = "^0.14.0"
webcolors = "^1.11.1"
loguru = ">=0.5.3,<0.7.0"
hidapi = ">=0.11.2,<0.13.0"
pyserial = "^3.5"
importlib-metadata = {version = "^4.11.3", python = "<3.8"}
fastapi = {version = ">=0.61.1,<0.84.0", extras = ["webapi"] }
uvicorn = {version = ">=0.12.2,<0.19.0", extras = ["webapi"] }

[tool.poetry.extras]
webapi = ["fastapi", "uvicorn"]

[tool.poetry.dev-dependencies]
pytest = "^7"
black = "^22.8"
pytest-cov = "^3.0.0"
mypy = "^0.971"
requests = "^2.28.1"
httpx = "^0.23.0"
anyio = {extras = ["trio"], version = "^3.6.1"}

[tool.poetry.scripts]
busylight="busylight.__main__:cli"
busyserve="busylight.__main__:webcli"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[mypy]
[mypy-webcolors]
ignore_missing_imports = true
[mypy-hid]
ignore_missing_imports = true
[mypy-fastapi]
ignore_missing_imports = true
[mypy-pydantic]
ignore_missing_imports = true
[mypy-uvicorn]
ignore_missing_imports = true
[mypy-loguru]
ignore_missing_imports = true
[mypy-bitvector]
ignore_missing_imports = true
[mypy-fastapi.responses]
ignore_missing_imports = true

